.event-page-section-one {
  min-height: 100vh;
  background-image: url("/assets/page-event-thumbnail.png");
  background-size: cover;
  background-position: calc(100% - 70%) center;
  background-repeat: no-repeat;
}

.event-page-section-two {
  background-color: var(--primary-bg);
  padding: 2rem;
  min-height: 80vh;

  .baja-project-event-info {
    display: flex;
    font-size: 32px;
    justify-content: center;

    .location-date-info {
      display: flex;

      .location {
        flex-direction: column;
        width: 50%;
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .date {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 768px) {
          width: 100%;
          justify-content: flex-start;
        }
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
        padding: 0;
      }
    }

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .event-organization {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .container-info {
      width: 25%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .title {
      font-size: 32px;
    }

    .subtitle {
      font-size: 24px;
    }
  }
}
