.about-page-section-one {
  height: 100vh;
  background-image: url("/assets/thumbnail_about.png");
  background-size: cover;
  background-position: 70% center;
  background-repeat: no-repeat;
}

.about-page-section-two {
  background-color: var(--primary-bg);
  padding: 2rem;
  min-height: 80vh;

  .baja-project-explanation {
    font-size: 32px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .card {
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    width: 300px;
    min-height: 265px;
    border: 1px solid var(--secondary-bg);
    margin-bottom: 4rem;

    h3 {
      margin-bottom: 1rem;
      color: var(--main-text);
    }

    p {
      color: var(--main-text);
      font-size: 18px;
      line-height: 1.4;
    }
  }
}
