:root {
  --primary-bg: #000;
  --secondary-bg: #95ff8d;
  --main-text: #fff;
  --secondary-text: #000;
  --text-green-light: #95ff8d;
  --text-secondary-green-dark: #066700;
  --primary-dark: #404040;
  --font-size: 11px;
}

body {
  font-family: Arial, "Roboto Serif", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: var(--main-text);
  font-size: var(--font-size);
  line-height: normal;
}

.header-link {
  color: var(--main-text);
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Light weight */
.light-text-roboto {
  font-family: "Roboto Serif", serif;
  font-weight: 300;
}

/* Regular */
.regular-text-roboto {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
}

/* Bold */
.bold-text-roboto {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
}

/* Italic */
.italic-text-roboto {
  font-family: "Roboto Serif", serif;
  font-style: italic;
}
