.carousel-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.swiper {
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #222;
  min-height: 200px;
}

/* Swiper pagination custom styles */
.swiper-pagination-bullet {
  margin: 0 6px !important;
  background: var(--text-secondary-yellow-dark);
  opacity: 0.6;
  border-radius: 50%;
  margin: 0 6px !important;
  transition:
    background 0.3s,
    opacity 0.3s,
    transform 0.3s;
  border: 2px solid #222;
}

.swiper-pagination-bullet-active {
  background: var(--text-secondary-yellow-dark);
  opacity: 1;
  transform: scale(1.2);
  border-color: var(--text-secondary-yellow-dark);
}
