.welcome-section {
  height: 100vh;
  background-image: url("/assets/page-home-thumbnail.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-container {
  height: 80%;
  display: flex;
  align-items: flex-end;

  .texts {
    color: white;
    font-weight: bold;
    margin-right: 2rem;
    font-size: large;

    @media (max-width: 1000px) {
      font-size: 1rem;
    }

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }

    @media (max-width: 400px) {
      font-size: 0.7rem;
    }
  }

  .info-container {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-radius: 20px;
    margin: 1rem;
    padding: 0.6rem;
    max-width: 512px;

    @media (min-width: 1000px) {
      width: 50%;
      max-width: 450px;
    }

    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
}
